{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
      <div class="container-fluid">
      </div>
         <hr>
          <div class="row">
           <div class="col-md-12 text-center">
             <h3><span class="glyphicon glyphicon-info-sign"></span>Contact Information</h3>
               <ul>
                <li>Michael Oldham</li>
                  <li><span class="glyphicon glyphicon-earphone"></span> (425)-761-5437</li>
                  <li><span class="glyphicon glyphicon-envelope"></span> oldhammike@live.com</li>
                  <li>
                   <a type="button" class="btn btn-primary" href="http://safe-spire-9638.herokuapp.com/contact/">Contact Me</a>
                  </li>
               </ul>
           </div>
          </div>
{% endblock %}
