{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAALcAAAAJDliZDM1Y2IzLWIzODEtNGQ3Ni05NTI0LTM5OWIzMjJkNDliNw.jpg">
    </a>
    <h1>Foremost Consulting, LLC</h1>
    <p>Mike Oldham is a Seattle based consultant with almost 30 years of software and SaaS sales and business development experience.</p>
    <a type="button" class="btn btn-lg btn-default" href="https://www.linkedin.com/in/mikeoldham1"><span class="glyphicon glyphicon-flash"></span>Connect With Me On LinkedIn</a>
  </div>
</div>
<div class="container">
  </div>
  <hr>
</div>
{% endblock %}
