{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
      <div class="container-fluid">
      </div>
         <hr>
          <div class="row">
           <div class="col-md-12 text-center">
             <h3><span class="glyphicon glyphicon-info-sign"></span>Contact Information</h3>
               <ul>
                <li>Thanks for reaching out! I will contact you shortly.</li>
                  <li>
                   <a type="button" class="btn btn-primary" href="http://safe-spire-9638.herokuapp.com/index/">Home</a>
                  </li>
               </ul>
           </div>
          </div>
{% endblock %}
